@media (max-width: 1440px){
    html, body, main, div{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    main{
        padding: 0px 5%;
    }

    header div {
        font-size: 1.5em;
    }

    #menu {
        margin-left: 18%;
    }

    #inicio {
        margin-top: 45%;
        height: 60px;
        width: 60px;
    }
    
    #historia, #experiencia nav{
        font-size: 1.3em;
    }

    #linha{
        padding-left: 22%;
    }
    
    #linhaunica{
        padding-left: 24.4%;
    }
}

@media (max-width: 1024px){
    html, body, main, div{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header div {
        font-size: 0.8em;
    }

    main{
        padding: 0px 3%;
    }

    #menu {
        margin-left: 10%;
    }

    #logoRE4 {
        margin-left: 25%;
    }

    #leonfundo{
        height: 90%; 
        width: 100%;
        padding-top: 2%;
    }

    #inicio {
        display: none;
    }


    #historia nav p, #experiencia nav p{
        margin-right: 5%;
    }

    #historia, #experiencia nav{
        font-size: 1.1em;
    }

    #history{
        padding-left: 31%;
    }

    #myexperience{
        padding-left: 20%;
    }

    #humanos #info p{
        font-size: 0.65em;
    }
    
    #human{
        padding-left: 37%;
    }

    #boss{
        padding-left: 42%;
    }

    #linha{
        padding-left: 13%;
    }

    #linhaunica{
        padding-left: 15.5%;
    }
    
    #texto video{
        padding-top: 2%;
        height: 100%; 
        width: 50%;
    }
}

@media (max-width: 768px){
    html, body, main, div{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header div {
        font-size: 0.8em;
    }

    main{
        padding: 0px 3%;
    }

    button{
        width: 12.5%;
        height: 50px;
    }

    #menu {
        margin-left: 0.5%;
    }

    #logo img{
        width: 80%;
        height: 80px;
    }

    #leonfundo{
        height: 70%; 
        width: 100%;
        padding-top: 2%;
    }

    #historia, #experiencia nav{
        display: inline;
    }

    #texto{
        padding-top: 4%;
    }
    
    #historia p{
        text-align: center;
        padding-left: 1%;
    }

    #inicio {
        display: none;
    }

    #historia, #experiencia nav{
        font-size: 1em;
    }

    #history{
        padding-left: 28%;
    }

    #myexperience{
        padding-left: 10%;
    }

    #character{
        padding-left: 26%;
    }

    #guns{
        padding-left: 23%;
    }

    #humanos #info p{
        font-size: 0.63em;
    }

    #linha{
        padding-left: 4%;
    }

    #linhaunica{
        padding-left: 7%;
    }

    #texto p{
        padding-left: 10%;
    }
    
    #texto video{
        padding-left: 17%;
        padding-top: 2%;
        height: 100%; 
        width: 70%;
    }

}

@media (max-width: 480px){
    html, body, main, div{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header div {
        font-size: 0.7em;
    }

    main{
        padding: 0px 3%;
    }

    button{
        width: 22.5%;
        height: 50px;
    }

    #butão{
        padding-left: 8%;
    }

    #menu {
        margin-left: 0.5%;
    }

    #cabeçalho nav a {
        padding: 2% 2px;
        align-items: center;
        text-decoration: none;
        color: white;
    }

    #logo img{
        width: 80%;
        height: 60px;
    }

    #tema{
        font-size: 1.5em;
        text-align: center;
    }

    #theme p{
        padding-left: 3%;
    }

    #historia, #experienciam nav{
        font-size: 1.5em;
    }

    #history, #character, #armas img{
        width: 70%;
        height: 50%;
    }

    #experiencia img{
        width: 70%;
        height: 50%;
    }

    #history{
        padding-left: 18%;
    }

    #myexperience{
        padding-left: 10%;
    }

    #character{
        padding-left: 18%;
    }

    #guns{
        padding-left: 23%;
    }

    #linha nav img{
        width: 50%;
        height: 50%;
    }

    #linhaunica img{
        width: 50%;
        height: 50%;
    }

    #humanos #info p{
        font-size: 0.63em;
    }

    #linha{
        padding-left: 4%;
    }

    #linhaunica{
        padding-left: 7%;
    }

    #texto p{
        padding-left: 10%;
    }
    
    #texto video{
        padding-left: 17%;
        padding-top: 2%;
        height: 100%; 
        width: 70%;
    }
}
