@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Edu+VIC+WA+NT+Beginner&family=Raleway:wght@100&display=swap');

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #212C32;
    ;
}

body::-webkit-scrollbar-thumb {
    background-color: #BF2431;
    border-radius: 20px;
}



html, body{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#161616;
    background-image:linear-gradient(to top,transparent 0,rgba(203, 203, 203, 0.095) 100%);
    scroll-behavior: smooth;
}

header {
    padding: 0px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

main, div #experiencia {
    padding: 10px 100px 10px 50px;
    box-sizing: border-box;
}

header div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 2em;
}

header #cabeçalho {
    display: flex;
    align-items: center;
    background-color: black;
    position: relative;
    width: 100%;
}

#inicio {
    display: inline-block;
    position: fixed;
    margin-left: 1829.5px;
    margin-top: 650.7px;
}

#inicio a {
    text-decoration: none;
    color: #E6E6E6;
}

#tema{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    color: #E6E6E6;
}

button{
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #E6E6E6;
    color: #161616;
}

button:hover{
    background-color: #BF2431;
    color: #E6E6E6;
}

button:active{
    background-color: #E6E6E6;
    color: #161616;
}

#cabeçalho nav a {
    padding: 5px 20px;
    align-items: center;
    text-decoration: none;
    color: white;
}

#menu {
    margin-left: 550px;
}

#menu a {
    transition: all 0.3s ease 0.1s;
}

#menu a:hover {
    background-color: #BF0404;
}

#logoRE4 {
    margin-left: 450px;
    width: 50%;
}



#historia, #experiencia nav{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

#historia nav p, #experiencia nav p{
    margin-right: 50px;
    padding-top: 0;
    margin-top: 0;
}

#historia p{
    color: #E6E6E6;
    text-align: right;
}


#personagens #humanos{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.1em;
}

#personagens #chefes{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8em;
}

#human{
    padding-left: 800px;
}

#boss{
    padding-left: 800px;
}

#character, #guns{
    margin-left: 50px;
}

#humanos, #chefes{
    color: #E6E6E6;
    padding: 30px 80px 50px 80px;
}

#persona {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

#humanos #persona h2 {
    color: #BF2431;
    text-align: center;
    padding-right: 200px;
}

#humanos p {
    padding-left: 50px;
    padding-top: 0px;
    text-align: left;
}

#chefes #persona h2 {
    color: #BF2431;
    text-align: center;
    padding-left: 200px;
}

#chefes p {
    padding-right: 50px;
    text-align: end;
}

#info {
    width: 100%;
    height: 100%;
    text-align: left;
    margin-top: -100px;
}

#info h2{
    font-family: 'Cormorant SC', serif;
}

#img{
    margin-top: 55px;
    width: 250.5px;
    height: 225.867px;
}

#armas{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    color: #E6E6E6;
    padding: 0px 50px 50px 50px;
}

#armas h1{
    text-align: center;
    color: #BF2431;
}

#armas nav{
    align-items: center;
}

#linha{
    align-items: center;
    padding-left: 165px;
}

#linha nav{
    padding-left: 50px;
    display: inline-block;
}

#linha p{
    padding-top: 50px;
    text-align: center;
}

#linhaunica{
    padding-left: 550px;
    border: #BF0404;
}

#linhaunica img{
    align-items: center;
}

#linhaunica p{
    padding-left: 130px;
    padding-top: 50px;
}

#experiencia p{
    color: #E6E6E6;
    text-align: center;
    font-weight: 200;
}
